<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>
    <script src='./javascript/admin.js' defer></script>
    <title>AdminPanel</title>
</head>
<body>
    <div class="center">
        <p><b>Enter artist's name:</b></p>
        <input id="artname" type="text">
        <button id="artcreate">Create Artist</button>
        <div id="artcreateresponse"></div>
    </div>
    <div class="center">
        <p><b>Enter artists's id:</b></p>
        <input type="text" name="" id="artistid">
        <button id="artdelete">Delete Artist</button>
        <div id="artdeleteresponse"></div>
    </div>
    <div class="center">
        <p><b>Enter album's name:</b></p>
        <input id="albtitle" type="text">
        <p><b>Enter id of album's artist:</b></p>
        <input id="albumartistId" type="text">
        <button id="albcreate">Create Album</button>
        <div id="albcreateresponse"></div>
    </div>
    <div class="center">
        <p><b>Enter album's id:</b></p>
        <input type="text" name="" id="albumid">
        <button id="albdelete">Delete Album</button>
        <div id="albdeleteresponse"></div>
    </div>
    <div class="center">
        <p><b>Track Name:</b></p>
        <input id="tname" type="text">
        <p><b>Track Album Id:</b></p>
        <input id="talbum" type="text">
        <p><b>Track Media Id:</b></p>
        <input id="tmedia" type="text">
        <p><b>Track Genre Id:</b></p>
        <input id="tgenre" type="text">
        <p><b>Track Composer:</b></p>
        <input id="tcomposer" type="text">
        <p><b>Track Milliseconds:</b></p>
        <input id="tmilliseconds" type="text">
        <p><b>Track Bytes:</b></p>
        <input id="tbytes" type="text">
        <p><b>Track Price:</b></p>
        <input id="tunitprice" type="text">
        <button id="tcreate">Create Track</button>
        <div id="tcreateresponse"></div>
    </div>
    <div class="center">
        <p><b>Enter track's id:</b></p>
        <input type="text" name="" id="tid">
        <button id="tdelete">Delete Track</button>
        <div id="tdeleteresponse"></div>
    </div>
</body>
</html>