<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>
    <script src='./javascript/nav.js'defer></script>
    <script src='./javascript/album.js' defer></script>
    <title>The Track Store</title>
</head>

<body>
    <div class="main">
                <div class="middletext" style="width: 100%;">
                    <div class="title"><h2 class="title">Song Database</h2></div>
                    <h3>Please enter a name of an album you are looking for.</h3>
                    <div>
                        <button class="" id="cart">Cart</button>
                        <button class="" id="artist">Artists</button>
                        <button class="" id="track">Tracks</button>
                    </div>
                    <div class='searchcontainer'><div id='searchform'><input type="text" id="searchbar" placeholder="Enter name of album"/><button class="btn" id="searchbtn">Search</button></div></div>
                </div>
                <div id="results"></div>
            </div>
    </div> 
</body>
</html>